@use "partials/variables" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}
h2 {
  font-size: 2.2rem;
  font-weight: 300;
}

h3{
  font-size: 1.2rem;
  font-weight: 300;
}

a {
  font-size: 1.1rem;
}
p {
  font-size: 1rem;
  font-weight: 300;
}
header {
  background-color: $nav-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 1rem 0;
  .logo {
    margin-left: $container-paddingX;
    a {
      font-weight: bold;
      text-decoration: none;
      color: $primary-color;
    }
  }
  nav ul {
    list-style: none;
    display: flex;
    margin-right: $container-paddingX;
    li {
      margin-left: 1rem;
    }
  }
}

main {
  margin-top: 50px;
}
