
$primary-color: #335576;
$sub-color: #DB7A4E;
$background-color:#FEFAF5;
$white-bg-color: #fff;
$container-paddingX: 7vw;
$container-paddingY: 6vw;
$font-stack: Verdana ,'Arial', sans-serif;
$border-radius:5px;


